# Ignore everything by default
*

# Always track the gitignore itself
!.gitignore
!README.md

# Allow the path down to the theme files
!wp-content/
!wp-content/themes/
!wp-content/themes/hello-elementor/
!wp-content/themes/hello-elementor/**
!wp-content/themes/hello-elementor-child/
!wp-content/themes/hello-elementor-child/**
!wp-content/themes/hello-theme-child-master/
!wp-content/themes/hello-theme-child-master/**

# Allow the path down to the plugin files
!wp-content/plugins/
!wp-content/plugins/elementor/
!wp-content/plugins/elementor/**
!wp-content/plugins/elementor-pro/
!wp-content/plugins/elementor-pro/**

!config/
!config/**


# Ignore Node deps inside all plugins
wp-content/plugins/**/node_modules/

# Ignore macOS metadata everywhere
.DS_Store

# WordPress stuff you don’t want
wp-config.php
*.sql
*.zip
*.tar.gz

# Uploads, cache, backups
!wp-content/uploads/
!wp-content/uploads/..
!wp-content/uploads/elementor/
!wp-content/uploads/elementor/..
!wp-content/uploads/elementor/google-fonts/
!wp-content/uploads/elementor/google-fonts/**
